{% extends 'list/base.html' %}

{% block title %}МастерРэнкинги{% endblock %}

{% block body %}

{% if masters.count > 0 %}
<p></p>
<h1>Все МастерРэнкинги</h1>
<p></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Содержит списки</th>
        </tr>
    </thead>
    <tbody>
        {% for master in masters %}

        <tr>
            <td><a href="{% url 'master' master.id master.slug %}">{{ master }}</a></td>
            <td> {% if master.list_set.count > 0 %}
                {% for list in master.list_set.all %}
                - <a href="{% url 'list' list.id list.slug %}">{{ list }}</a><br>
                {% endfor %}
                {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<br>
<h1>Вы еще не создали ни одного МастерРэнкинга</h1><br>
<a class="btn btn-primary" href="{% url 'master_add' %}">Добавить МастерРэнкинг</a>
{% endif %}
{% endblock %}